{% extends 'index.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#page-top">Julio {d3v} reis</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#blog">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="my-4">Portfolio<br></h1>
    <div class="row">
        <div class="col-md-8"><img class="img-fluid" src="{{ projeto.imagem.url }}" alt="{{ projeto.nome }}">
            <h3 class="my-3">Descrição do projeto: </h3>
            <p>{{ projeto.descricao|linebreaks }}</p>
            <h3 class="my-3">Problemas e soluções no desenvolvimento: </h3>
            <p>{{ projeto.problemas_solucoes|linebreaks }}</p>
        </div>
        <div class="col-md-4">
            <h3 class="my-3">Detalhes do projeto: </h3>
            <h4 style="color: #0a3560;">{{ projeto.nome }}</h4>
            <h6 style="color: #18bc9c;">{{ projeto.subtitulo }}</h6>
            <h3 class="my-3">Tecnologias utilizadas:</h3>
            <p>{{ projeto.teconlogias|linebreaks }}</p>
        </div>
    </div>
</div>

{% endblock content %}